.button-style {
  width: 150px;
  height: 30px;
  font-size: 19px;
  font-weight: bold;
  cursor: pointer;
  /*margin-top: 5px;*/
  background: #CDCDCD;
  border: 0;
  outline: none;
}
.close-window {
  visibility: hidden;
}
.setting {
  position: absolute;
  top: 10px;
  right: 10px;
}
.setting__img {
  width: 30px;
  cursor: pointer;
}
.modal {
  position: absolute;
  top: 50px;
  right: 10px;
  border: 1px solid black;
  background: rgba(19, 21, 33, 0.75);
  width: 150px;
  height: 150px;
  padding: 20px;
  text-align: center;
}
.modal .wrapper-modal {
  display: flex;
}
.modal .wrapper-modal__name {
  width: 95%;
  text-align: center;
  font-size: 25px;
  color: white;
}
.modal .wrapper-modal .close {
  width: 15%;
}
.modal .wrapper-modal .close__button {
  width: 15px;
  cursor: pointer;
}
.modal .list {
  margin-top: 20px;
  outline: none;
}
.main-block-centering {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
}
.wrapper {
  border: 1px solid #D8D8D8;
  border-radius: 5px;
  width: 40%;
  padding: 20px 15px;
  min-width: 400px;
  max-width: 800px;
  background-color: #F6F6F6;
}
.title {
  text-align: center;
  font-size: 20px;
  color: #272727;
  margin-bottom: 10px;
}
.container_content {
  display: flex;
  justify-content: space-around;
}
.container_converter {
  width: 40%;
  height: 100%;
}
.container_converter__input {
  border: 1px solid black;
  width: 99%;
  display: block;
  outline: none;
  text-align: center;
  margin-bottom: 10px;
  background-color: #FDFDFD;
}
.container_converter__input-result {
  margin-top: 19px;
}
.container_converter .select {
  width: 100%;
  font-size: 17px;
  outline: none;
  text-align: center;
}
.container_converter .select__option_item {
  text-align: center;
  outline: none;
}
.container_button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px auto;
}
.container_button__error-correct {
  height: 25px;
  color: red;
  text-align: center;
}
.container_button__error-negativeNumber {
  height: 25px;
  color: red;
  text-align: center;
}
.container_button__wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.container_button__wrapper .container_button__getResult {
  width: 150px;
  height: 30px;
  font-size: 15px;
  outline: none;
  cursor: pointer;
  margin-bottom: 5px;
}
.container_button__wrapper .container_button__reset {
  width: 150px;
  height: 20px;
  font-size: 13px;
  outline: none;
  cursor: pointer;
}
.error {
  display: none;
}
/*# sourceMappingURL=app.css.map */