@import './mixins.less';
.setting{
  position: absolute;
  top: 10px;
  right: 10px;
  &__img{
    width: 30px;
    cursor: pointer;
  }
}

.modal{
  position: absolute;
  top: 50px;
  right: 10px;
  border: 1px solid black;
  background: rgba(19, 21, 33, 0.75);
  width: 150px;
  height: 150px;
  padding: 20px;
  text-align: center;

  & .wrapper-modal{
    display: flex;


    &__name{
      width: 95%;
      text-align: center;
      font-size: 25px;
      color: white;
    }

    & .close{
      width: 15%;
      &__button{
        width: 15px;
        cursor: pointer;
      }
    }
  }
  & .list{
    margin-top: 20px;
    outline: none;
  }
}

.main-block-centering{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

.wrapper{
  border: 1px solid #D8D8D8;
  border-radius: 5px;
  width: 40%;
  padding: 20px 15px;
  min-width: 400px;
  max-width: 800px;
  background-color: #F6F6F6;
}

.title{
  text-align: center;
  font-size: 20px;
  color: #272727;
  margin-bottom: 10px;
}

.container_content{
  display: flex;
  justify-content: space-around;
}

.container_converter {
  //border: 1px solid black;
  width: 40%;
  height: 100%;

  &__input {
    border: 1px solid black;
    width: 99%;
    display: block;
    outline: none;
    text-align: center;
    margin-bottom: 10px;
    background-color: #FDFDFD;
  }

  &__input-result{
    margin-top: 19px;
  }

  & .select {
    width: 100%;
    font-size: 17px;
    outline: none;
    text-align: center;

    &__option_item {
      text-align: center;
      outline: none;
    }
  }
}

.container_button{
  //border: 1px solid black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px auto;

  &__error-correct{
    height: 25px;
    color: red;
    text-align: center;
  }

  &__error-negativeNumber{
    height: 25px;
    color: red;
    text-align: center;
  }

  &__wrapper{
    display: flex;
    justify-content: center;
    flex-direction: column;

    & .container_button__getResult{
      width: 150px;
      height: 30px;
      font-size: 15px;
      outline: none;
      cursor: pointer;
      margin-bottom: 5px;
    }

    & .container_button__reset{
      width: 150px;
      height: 20px;
      font-size: 13px;
      outline: none;
      cursor: pointer;
    }
  }
}

.error{
  display: none;
}
//.container{
//  min-width: 340px;
//  width: 40%;
//  height: 50%;
//  margin: 15% auto;
//  background: rgba(19, 21, 33, 0.75);
//  border-radius: 4px;
//  box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.75);
//
//  & .cin-number{
//    text-align: center;
//    padding-top: 20px;
//
//    &__name{
//      color: white;
//      font-size: 25px;
//    }
//    &__input-number{
//      width: 50%;
//      height: 30px;
//      font-size: 20px;
//      font-weight: bold;
//      text-align: center;
//    }
//  }
//
//  & .middlePart{
//    display: flex;
//    justify-content: space-around;
//    margin-top: 30px;
//
//    & .convert{
//      display: flex;
//      flex-direction: column;
//      justify-content: center;
//      margin-top: -20px;
//
//      &__name{
//        font-size: 23px;
//        color: white;
//        margin-bottom: 10px;
//        text-align: center;
//      }
//
//      & .select{
//        background: rgba(0, 0, 0, 0.8);
//        color: white;
//        width: 100%;
//        text-align: center;
//        font-size: 17px;
//
//        &__option_item{
//          background: rgba(0, 0, 0, 0.9);
//          color: white;
//          text-align: center;
//        }
//      }
//    }
//    .buttons{
//      text-align: center;
//
//      & .changeValue{
//        &__button{
//          .button-style;
//        }
//      }
//      & .swap{
//        &__elem-img{
//          width: 50px;
//          margin-top: 5px;
//          cursor: pointer;
//        }
//      }
//      & .getResult{
//        &__button{
//          .button-style;
//        }
//      }
//    }
//  }
//  & .finalResult{
//    text-align: center;
//
//    &__name{
//      color: white;
//      font-weight: bold;
//      font-size: 30px;
//    }
//
//    &__result{
//      color: white;
//      font-weight: bold;
//      font-size: 30px;
//      margin-top: -20px;
//      padding-bottom: 20px;
//    }
//  }
//}
//
//@media screen and (max-width: 1050px) {
//  .middlePart{
//    display: block;
//  }
//
//  .convert{
//    margin: 20px 30%;
//  }
//}
//
//.error{
//  color: red;
//  font-size: 20px;
//  font-weight: normal;
//}
//
//.borderError{
//  border: 3px solid red;
//}

