body{
    background: url('./images/1.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.main{
    display: flex;
    width: 82%;
    margin: 15% auto;
    justify-content: space-between;
}

.leftPart, .rightPart{
    background: rgba(0, 128, 192,0.9);
    min-width: 290px;
    width: 45%;
    min-height: 200px;
    -webkit-box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.75);
    padding-top: 15px;
    margin: 20px auto;
}

.inputs, .names{
    display: flex;
    justify-content: space-around;
}
.names div{
    font-size: 18px;
}

.inputs div{
    width: 45%;
    height: 30px;
    margin-bottom: 20px;
}

input{
    background: rgba(0, 0, 0, 0);
    border: 0;
    border-bottom: 2px solid #00448E;
    outline:none;
    height: 30px;
    width: 100%;
    text-align: center;
    font-size: 17px;
    color: #EDEDFF;
}

input::placeholder{
    color: red;
    font-size: 10px;
}

.countOfRandomValue{
    width: 70%;
}

.count{
    margin: auto;
    text-align: center;
    width: 100%;
}

.count div{
    font-size: 18px;
}

.countButton{
    background: rgba(2,53,172, 0.8);
    width: 10%;
    height: 30px;
    border: 0;
    cursor: pointer;
    font-size: 16px;
    color: #E4E4E4;
    border-radius: 2px;
    transition: width 0.5s;
}
.buttons{
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    width: 100%;
}

.buttons div{
    text-align: center;
    width: 35%;
}

.actionButtons{
    background: rgba(2,53,172, 0.8);
    min-width: 112px;
    width: 95%;
    height: 30px;
    border: 0;
    cursor: pointer;
    font-size: 16px;
    color: #E4E4E4;
    border-radius: 2px;
    transition: width 0.2s;
}

.actionButtons:hover{
    width: 100%;
}

.rightPart div{
    text-align: center;
    font-size: 19px;
}

.placeForRandomValue{
    font-size: 18px;
    color: #E4E4E4;
    font-weight: bold;
    text-align: center;
}

@media screen and (max-width: 855px){
    .main{
        display: block;
    }
}

.inputErrorStyle{
    font-size: 13px;
    color: red;
}

button{
    border: 0;
    outline: none;
}
